<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
</head>
<body>
  <div id="app">
    <div class='fc'>
      <input v-model='name'/>
      <button @click='sendTodo'>Send</button>
    </div>
   <ul class='fc'>
     <li @mouseover='showNote(idx)' @mouseout='hideNote(idx)' class='ac fc' v-for='t,idx in todos' :key='t.id'>
       <p >{{t.name}}</p>
       <input type="checkbox" @change='handleTodo(t.id)' v-model='t.isDone'/>
       <p class='hoverNote' v-if='t.isHover'>{{t.date}}</p>
     </li>
   </ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script type='module'>
import { initializeApp } from "https://www.gstatic.com/firebasejs/9.1.1/firebase-app.js";
import { getDatabase, set, ref, onValue, child, push, update  } from "https://www.gstatic.com/firebasejs/9.1.1/firebase-database.js"
const firebaseConfig = {
  apiKey: "AIzaSyBYPxBctfPkXYWVLvajXHTAtx4IWxyGLM8",
  authDomain: "todo-c9ff4.firebaseapp.com",
  databaseURL: "https://todo-c9ff4-default-rtdb.europe-west1.firebasedatabase.app",
  projectId: "todo-c9ff4",
  storageBucket: "todo-c9ff4.appspot.com",
  messagingSenderId: "950311387344",
  appId: "1:950311387344:web:6c794fe89588cf5eae1ed5"
};
const app = initializeApp(firebaseConfig);
const db = getDatabase(app)
new Vue({
  el:'#app',
  data(){
    return{
      name:'',
      todos:[],
    }       
  },
  methods:{
    async handleTodo(id){
      await update(ref(db,`todos/${id}`),{
        isDone:true
      })
    },
    hideNote(idx){
      this.todos[idx].isHover=false
    },
    showNote(idx){
      this.todos[idx].isHover=true
    },
    async sendTodo(){
      await push(ref(db,'todos/'),{
        name: this.name,
        isDone:false,
        date:new Date().toJSON()
      })
      await this.getTodos()
    },
    async getTodos(){
      await onValue(ref(db, 'todos/'), (snapshot) => {
        let data=Object.keys(snapshot.val()).map(key => ({...snapshot.val()[key], id: key, isHover:false}))
        this.todos=data;
      });
    },
  },
  async mounted(){
    await this.getTodos()
  },
  computed:{
    
  },
})
</script>
<style>
.ac{
  align-items:center;
}
.fc{
  display:flex;
  justify-content: center;
}
.hoverNote{
  color:gray;
  font-size: 14px;
  margin-left: 6px;
}
body{
  color: white;
  background-color: midnightblue;
}
ul{
  flex-direction: column;
  appearance: none;
  padding: 0;
}
</style>
</body>
</html>
